* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #acaaaa;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
   margin: 0;
  }
.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px;
}
header {
  background-color: #96af8c;
  /* padding: 0px; */
  width: 100%; 
  height: 10%;
  /* position: fixed; */
  top:0;
  left:0;

}

b{
  color: #5da70e;}
  
.header_a{
  font-size: 25px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

li {
  list-style: none;
}
.annonce {
  padding: 0 25% 0 25%;
 
  font-size: 25px;
  
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.5s; 
}

a:hover {
  color: #7cfc00; 
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
 font-size:40px ;
}

main  { 
   margin-top: 8%;
} 

footer {
  background-color: #96af8c;
  height: 50px;
  margin-top: 5%;
}
.container, .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
   
}

.p {
  text-align: center;
  margin: 0;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
}

.contact {
  font-size:40px ;
}
.logo {
  height: 140px;
  width: 140px;
  border-radius: 5%;
}

.montage {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin: 0 auto;
}

.art{
  min-height: 400px;
  margin-top: 10%;
}

.container-galeri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 20px;
    padding: 20px;

}
.galeri {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid #96af8c;
  
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
  display: block; 
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 1;

}
.galeri:hover {
  transform: scale(1.9);
  transition: 2s;
  
}
.abzac-galeri{
  font-size: 60px;
  display: flex;
  justify-content: center;
  margin: 5% 0;

}
.abzac-galeri1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin: 5% 0;
}
.link {
  position: relative;
  display: inline-block;
}

.link-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.link-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.link-content a:hover {
  background-color: #f1f1f1;
 
}

.link:hover .link-content {
  display: block;
}
.img-hover-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 800px;
  z-index: 10;
}

.img-hover-container .img-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 8px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
   opacity: 1;
}

.img-hover-container:hover .img-caption {
   opacity: 1;
 
}


.video-container {
  width: 100%;
  max-width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.video-container video {
  width: 95%;
  height: auto; 
  border-radius: 10px; 
  max-height: 100%;
}


#tel {
  color: transparent;
  position: relative;
  padding: 12px 16px;
  
}

#tel::after {
  content: "Téléphone";
  color: black;
  position: absolute;
  left: 15px;
  
}

#tel:hover::after {
  content: "+33 6 29 96 32 49";
  color: rgb(0, 0, 0);
  font-weight: bold;
}

@media (max-width: 768px) {
   h1{ 
    margin-top: 5%;
     font-size: 30px;
  }
  .galeri{
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .montage {
    width: 90%;
  }
}
@media (max-width:548px) {
    h1{
      font-size: 20px;
    margin-top: 20%;
    }
  .contact {
    font-size: 24px;
  }
}